/* Global Settings */
body {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background:#000; color:#111; margin:0; font-size:25px; line-height:18px; }
h1 {font-size:20px; line-height:24px; }
h2 {font-size:18px; line-height:22px; }
h3 {font-size:16px; line-height:20px;}
a { background-color:inherit; color:#f06; text-decoration:none; }
a:hover {text-decoration:underline; }	
blockquote { background-color:inherit;	color:#999; font:15px;  border-left:5px solid #f06; padding:2px 15px; }

/* Wrapper Settings */
#wrapper {
    background: #fff;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: none;
    padding:10px;
    margin:1% auto;
    width: 90%;
}

#body {
    margin:0;	
}

#container {
    padding:0;
    margin:0;
}


/* Other Settings*/

#banner {
    position:relative;
    padding:10px;
    height: 175px; 
    border: 0px;
    color:#fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: #99c9ff;
    background: -moz-linear-gradient(top,  #ff99cc 0%, #4400ff 50%);
    background: -webkit-linear-gradient(top,  #ff99cc 0%,#4400ff 50%);
    background: linear-gradient(to bottom,  #ff99cc 0%,#4400ff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff99cc', endColorstr='#ff0066',GradientType=0 );
}


#banner h1 {
    font-size:32px;
    font-family: Arial, sans-serif;
}

#banner h1 em {
    font-style:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration:none;
    color:#111;
    
}

#show-menu {display: none;}
.responsive { background-color:inherit; color:#fff; text-align:left; font-weight:normal; font-size:1.5em; padding: 0; position:absolute; top:80%; display:none; }


ul#topnav  {
    list-style-type: none;
    margin: 0 0 0 1%;
    display: table;
    padding: 0;
    overflow: hidden;
    width:60%;
    position:absolute;
    bottom:0;
}

ul#topnav li {
    display: table-cell;
    text-align:center;    
}

ul#topnav li a {
    background: #000;

    color: #f06;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border: none;
    display:block;
    margin-right:5px;
    padding:5px 0px;
    text-decoration:none;
    font-size:12px;
}

ul#topnav li a.active, ul#topnav li a.active:hover {
    background: #fff;
    color: #111;
}

ul#topnav li a:hover {
    background: #ccc;
    color: #111
;}


#content {
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 20px; /* Agrega relleno al contenido */
    margin: 0 auto; /* Centra horizontalmente */
    max-width: calc(100% - 250px); /* Establece el ancho máximo, teniendo en cuenta el margen derecho */
}

#content h1 {
    font:normal 25px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0; 

}

#content ul {
    list-style:none;
}

#content ul li {
    padding:2px 0 2px 10px;
    margin:0; 
}	

#content ul li:before {
   content: "\00BB  ";
    color:#f06;
}
#content .imagen_1 {

    background: #99c9ff;
    background: -moz-linear-gradient(top,  #ff99cc 0%, #4400ff 50%);
    background: -webkit-linear-gradient(top,  #ff99cc 0%,#4400ff 50%);
    background: linear-gradient(to bottom,  #ff99cc 0%,#4400ff 50%);
    display: inline-block;
    padding: 30px; 
    border-radius: 10%;
    border: 2px solid #000;
    margin-left: auto;
    margin-right: auto; /* Establece márgenes automáticos para centrar horizontalmente */
}

#content .item {
    line-height:1.25em;
    margin:10;	
}

#content .item p {
    text-align:justify;
}

#content .item span {
    background-color:inherit;
    color:#999;
    font-size:11px; 
}

#footer {
    padding:10px;
    height: 20px; 
    border: 0px;
    color:#fff;
    font-size:12px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background: #99c9ff;
    background: -moz-linear-gradient(top,  #ff99cc 0%, #4400ff 50%);
    background: -webkit-linear-gradient(top,  #ff99cc 0%,#4400ff 50%);
    background: linear-gradient(to bottom,  #ff99cc 0%,#4400ff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff99cc', endColorstr='#ff0066',GradientType=0 );
    clear:both;
}

#footer a {
background-color:inherit;
color:#99c9ff; 
}

#footer a:hover {
background-color:inherit;
color:#333;
text-decoration:none;
}	

#footer span.left {
text-align:left;
padding-left:15px;
float:left;	
}
	
#footer span.right {
text-align:right;
padding-right:15px;
float:right;	
}

#footer p.show-footer {
margin:0;
display:none; 
}
	
#credits {
    width:90%;
    background-color:inherit;
    color:#888;
    position:relative;
    bottom:0;
    padding:10px 0;
    font:normal 11px Arial,sans-serif;
    text-align:right;
    margin:0 auto; 
}
	
#credits a {
    background-color:inherit;
    color:#888; 
    text-decoration:none;
}
	
#credits a:hover {
    background-color:inherit;
    color:#aaa;
    text-decoration:none;
}

@media screen and (max-width : 700px) {
    body { 
        
        font-size:12px; 
        
    }
    blockquote {
       
        font-size:13px; 
        padding:1px 5px; 
        margin:0; 
        border-left:2px solid #f06;
        
    }

    /* banner */
    /*#banner { height:170px;}*/
    #banner h1 {
       
        font-size:28px;
        
    }
    #banner p {
        
        width:60%;
        
    }

    /* menu */
    ul#topnav {display:none;}
    .responsive { display:block;}
    #show-menu:checked ~ ul#topnav {
        display: block;
        position: absolute;
        top:100%;
        width:50%;
        margin:0 0 0 -8%;
        overflow:visible;
    }
    ul#topnav li {
        display: block;
        text-align:left;
        margin:0 0 1px 15%;
    }
    ul#topnav li a {
        
        padding-left:20px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        font-size:10px;
        
    }
    ul#topnav li a:hover {
        background: rgba(255,0,85,1);
        color:rgba(255,255,255,255);
    }
    ul#topnav li a.active, ul#topnav li a.active:hover {
        background: rgba(230,230,230,230);
        color: rgba(1,1,1,1);
    }

    /* sidebar */
    #sidebar {
        
        width: 28%;
        padding:5px;
        font-size:10px;
        line-height:1.25em;
        
    }
    #sidebar h2 {
       
        font-size:12px;
        
    }

    /* Estilos base para #content */
    #content {

        padding: 10px; /* Ajusta el espaciado alrededor del contenido */
        max-width: 100%; /* Establece un ancho máximo */
        margin: 0 auto; /* Centra horizontalmente */
        box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
        
    }

    #content h1 {

        font-size: 12px; /* Reduce el tamaño de fuente */
        
    }

    #content p {
  
        font-size: 9px; /* Reduce el tamaño de fuente */
        
    }

    /* Estilos para .imagen_1 */
    #content .imagen_1 img {

        max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
        height: auto; /* Permite que la altura se ajuste automáticamente manteniendo la relación de aspecto */
        display: block; /* Asegura que la imagen se muestre como un bloque */
        margin: 0 auto; /* Centra horizontalmente la imagen */
        
    }

    /* footer */
    #footer {
   
        font-size:10px;
        text-align: center;
        padding-bottom:20px;
        
    }
    #footer span {

        display:none;
    }
    #footer p.show-footer {

        display: block;
    }
    #credits {

        font-size:80%;
        text-align:center;
       
    }
}
